<ion-content padding>
  <h2>{{ 'TXT.IMMO' | translate }}</h2> <br>
  <ion-list no-lines>
    <span *ngFor="let imte of imtes; let i = index">
      <ion-row (click)="goToDetail(imte)">
        <ion-col size="4">
          <img [src]="imte.images[0].path">
        </ion-col>
        <ion-col size="8">
          <ion-item text-wrap style="margin-top: -6%">
            <h2><ion-badge>{{imte.type === 'Meuble' ? 'Meublé' : imte.type}}</ion-badge>&nbsp;<ion-badge *ngIf="imte.mode === 'Proposition'">{{ 'MENU.SEARCH' | translate }}</ion-badge></h2>
            <h2 style="color: #2b6481" *ngIf="imte.mode === 'Immo'">{{getPrice(imte.prix)}} {{imte.devise}} / {{ 'MONTH' | translate }}</h2>
            <h2 *ngIf="imte.mode === 'Terrain' || imte.mode === 'Hotel'">{{imte.titre}}</h2>
            <h2 style="color: #2b6481" *ngIf="imte.mode === 'Terrain'">{{getPrice(imte.prix)}} {{imte.devise}} / m<sup>2</sup></h2>
            <h2>{{imte.quartier.nom}} - {{imte.quartier.ville.nom}}</h2>
            <h2 *ngIf="imte.mode === 'Hotel'">{{getPrice(imte.prixMin)}} - {{getPrice(imte.prixMax)}} {{imte.devise}}</h2>
            <h2 *ngIf="(imte.type === 'Appartement' || imte.type === 'Maison') && imte.mode === 'Immo'">{{imte.pieces}} {{ 'ROOM' | translate }} &nbsp; {{imte.chambres}} {{ 'BEDROOM' | translate }}</h2>
            <p>
              <ion-row>
                <ion-col size="10"> 10 {{ 'TXT.VIEW' | translate }} </ion-col>
                <ion-col size="2">
                  <!--<ion-icon style="zoom: 1.3;" slot="start" name="heart-outline"></ion-icon>-->
                </ion-col>
              </ion-row>
            </p>
          </ion-item>
        </ion-col>
      </ion-row>
      <hr>
    </span>
  </ion-list>

  <ion-fab slot="bottom" vertical="right" horizontal="start">
    <ion-fab-button (click)="addImmo()">
      <ion-icon name="cadd-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
