.box.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  padding: .5rem;
  height: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.03);
  border-radius: 4px;

  font-family: "Lucida Console", Monaco, monospace;
  border-bottom: 1px solid #F9F2D6;
  border-right: 1px solid #F9F2D6;
}

.box p {
  text-align: center;
  margin: .25rem;
  padding: .25rem;
}

ion-content{
  font-size: 18px;
}
.home-page {
  margin: -0px;
}

.home-card {
  font-size: 18px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-image: linear-gradient(#2b6481, #f15b4d);
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  //border-radius: 50%;
  background-color: #FFFFFF;
  width: 100%;
  height: 65px;
  font-size: 18px
}

.btn_2 {
  width: 100%;
  height: 65px;
  font-size: 18px
}

.btn_no {
  border-radius: 50%;
  background-color: darkgray;
  color: #ffffff;
}

.link {
  text-decoration: underline;
  color: #FFFFFF;
}

.no_link {
  color: #FFFFFF;
  text-decoration: none;
}

.input-button {
  width: 100%; background: #FFFFFF; height: 75px; margin: 0; border-style: solid; color: #ffb300;
}

.input-button-search {
  width: 100%;
  background: #FFFFFF;
  height: 100px;
  border-style: solid;
  color: #ffb300;
  width:100px;
  border-radius: 50%;
  margin-left: -30%;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-style {
  width: 100%;
  background: white;
  height: 75px;
  margin: 0;
}

.first-card {
  font-size: 18px;
  -webkit-border-top-left-radius: 35px;
  -webkit-border-top-right-radius: 35px;
}

.middle-card {
  font-size: 18px;
}

.last-card {
  font-size: 18px;
  -webkit-border-bottom-left-radius: 35px;
  -webkit-border-bottom-right-radius: 35px;
}

.one-card {
  font-size: 18px;
  -webkit-border-radius: 35px;
}
