<ion-content>

  <div>
    <h1 class="slide-title">MyPiole</h1>
    <p class="slide-desc">{{ 'HOME.DESC1' | translate }}</p>
    <div class="slide-next">
      <ion-item (click)="goto('location', 'Locat')" color="light" style="opacity: 0.9">
        <ion-icon  style="zoom: 1" name="home" slot="start"></ion-icon> <span style="font-size: 18px">{{ "LOCAT" | translate }}</span>
      </ion-item>
      <ion-item (click)="goto('location', 'Coloc')" color="light" style="opacity: 0.7">
        <ion-icon style="zoom: 1" name="people" slot="start"></ion-icon>  <span style="font-size: 18px">{{ "COLOC" | translate }}</span>
      </ion-item>
      <ion-item (click)="goto('location', 'Terrain')" color="light" style="opacity: 0.9">
        <ion-icon style="zoom: 1" name="expand" slot="start"></ion-icon>  <span style="font-size: 18px">{{ "TERRAIN" | translate }}</span>
      </ion-item>
      <ion-item (click)="goto('location', 'Hotel')" color="light" style="opacity: 0.7">
        <ion-icon style="zoom: 1" name="star" slot="start"></ion-icon>  <span style="font-size: 18px">{{ "HOTEL" | translate }}</span>
      </ion-item>
      <ion-item (click)="goto('location', 'Meuble')" color="light" style="opacity: 0.9">
        <ion-icon style="zoom: 1" name="key" slot="start"></ion-icon>  <span style="font-size: 18px">{{ "MEUBLE" | translate }}</span>
      </ion-item>
      <ion-item (click)="goto('my-immo')" color="light" style="opacity: 0.7">
        <ion-icon style="zoom: 1" name="man" slot="start"></ion-icon>  <span style="font-size: 18px">{{ "IMMOB" | translate }}</span>
      </ion-item>
    </div>
  </div>
</ion-content>
